<%= form_for(@aircraft) do |f| %>
  <% if @aircraft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aircraft.errors.count, "error") %> prohibited this aircraft from being saved:</h2>

      <ul>
      <% @aircraft.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
	<div class="field">
		<%= f.label :destination_airport %><br />
		<%= f.collection_select(:destination_id, Airport.all, :id, :code, {:prompt => true}) %>
	</div>
	<div class="field">
		<%= f.label :arrival_airport %><br />
		<%= f.collection_select(:source_id, Airport.all, :id, :code, {:prompt => true}) %>
	</div>
  <div class="actions">
    <%= f.submit( :class => "btn btn-primary" ) %>
  </div>
<% end %>
