<div class="row">
    <h1>Airports</h1>

    <table>
      <tr>
        <th></th>
				<th>Departing Aircraft</th>
				<th>Arriving Aircraft</th>
        <th></th>
      </tr>

    <% @airports.each do |airport| %>
      <tr>
        <td><%= link_to airport.name + " (" + airport.code + ")", airport %></td>
				<td><%= airport.departing_aircraft.size %>
				<td><%= airport.arriving_aircraft.size %>
        <td><%= link_to 'Delete', airport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New Airport', new_airport_path %>
</div>
