<div class="row">
    <p id="notice"><%= notice %></p>

    <h1> <%= @airport.name + "(" + @airport.code + ")" %></h1>

		<%= link_to 'Edit', edit_airport_path(@airport) %>
		
		<h2>Departing aircraft</h2>
		<table>
			<%= render(@airport.departing_aircraft) %>
		</table>
		
		<h2>Arriving aircraft</h2>
		<table>
			<%= render(@airport.arriving_aircraft) %>
		</table>
</div>
