<!DOCTYPE html>
<html>
<head>
  <title>Spaceapps</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>        
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></button> <a class="brand" href="/">Bob the ATC simulator</a>
                <div class="nav-collapse collapse">
                  <ul class="nav">
                    <li class="">
                      <a href="/">Home</a>
                    </li>
                    <li class="">
                      <a href="/airports">Airports</a>
                    </li>
                    <li class="">
                      <a href="/aircrafts">Aircrafts</a>
                    </li><% if user_signed_in? %>
                    <li>
                      <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "") %>
                    </li><% else %>
                    <li>
                      <%= link_to('Login', new_user_session_path, :class => "")  %>
                    </li><% end %>
                  </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">

        <%= yield %>

    </div>

</body>
</html>
